MYSQL_USERNAME=your_mysql_root_username
MYSQL_PASSWORD=your_mysql_root_password
MYSQL_JK_USERNAME=your_mysql_other_username
MYSQL_JK_PASSWORD=your_mysql_other_password
MYSQL_HOST=127.0.0.1 (on local windows machine) or host.docker.internal (on ubuntu server) 
MYSQL_PORT=3306
MYSQL_BLOGS_DISABLE_SSL=1
OPENAI_API_KEY=sk-...(your openai key)
SECRET_KEY_SEASONS=...(your_own_key)
SECRET_KEY=django-insecure-...
DJANGO_SETTINGS_MODULE=arsmagica_seasons.arsmagica_seasons.settings

