{% extends "base_home.html" %}
{% load static %}

{% block title %}Welcome to Joakim Kvistholm's Homepage{% endblock %}

{% block content %}
<h2>Welcome</h2>
<p>This page is made by <strong>Joakim Kvistholm</strong>. Choose a project below:</p>

<div class="project-container">
  <div class="project">
    <a href="/blogs/">
      <img src="{% static 'images/carvedrock.png' %}" alt="Carved Rock Logo" width="180">
    </a>
    <p><a href="/blogs/">Go to Carved Rock Blog</a></p>
  </div>

  <div class="project">
    <a href="/seasons/">
      <img src="{% static 'images/arsmagica.png' %}" alt="Ars Magica Logo" width="180">
    </a>
    <p><a href="/seasons/">Go to Ars Magica Seasons</a></p>
  </div>
</div>
{% endblock %}
