{% extends "base_home.html" %}
{% load static %}

{% block title %}Welcome to Joakim Kvistholm's Homepage{% endblock %}

{% block content %}
<h2>Welcome</h2>
<p>
<h3>This page is made by '<i>Joakim Kvistholm</i>' and in both projects a mysql database is used. Choose a project
  below:
</h3>
</p>

<div class="project-container">
  <div class="project">
    <a href="{{ BLOGS_URL }}">
      <img src="{% static 'Carved Rock Logo 1.png' %}" alt="Carved Rock Logo" width="180">
    </a>
    <p><a href="{{ BLOGS_URL }}">Go to Carved Rock Blog</a></p>
  </div>

  <div class="project">
    <a href="/seasons/">
      <img src="{% static 'ArsMagica_Logo_18.png' %}" alt="Ars Magica Logo" width="180">
    </a>
    <p><a href="{% url 'index' %}">Go to Ars Magica Seasons</a></p>
  </div>
</div>
{% endblock %}