{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Joakim Kvistholm's Start Page{% endblock %}</title>

  <!-- Use your shared style.css -->
  <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
  <nav>
    <ul>
      <li><a href="{{ BLOGS_URL }}">Carved Rock Blog</a></li>
      <li><a href="/seasons/">Ars Magica Seasons</a></li>
    </ul>
  </nav>

  <section class="content">

    {% block content %}

    {% endblock %}

  </section>

  <footer>
    <hr>
    <h3 class="footer-copyright">&copy; 2025 By Joakim Kvistholm: Built with Flask & Django. </h3>
  </footer>
</body>

</html>